@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.user-panel {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #d3d3d3;
  border-radius: 5px 0 0 5px;
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 9999;
  transition: transform 0.3s ease-in-out;
}

.user-panel.open {
  transform: translateX(0);
}

.modal-list {
  display: grid;
  text-align: left;
  gap: 30px;
  list-style-type: none;
  padding-left: 0;
}

.modal-item {
  display: flex;
  font-family: "Khmer", sans-serif;
  font-size: 20px;
  margin-left: 16px;
  align-items: center;
  cursor: pointer;
  color: black;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.modal-item:hover {
  color: #ff6600;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.modal-item img {
  filter: brightness(0) invert(0);
  margin-right: 10px;
  width: 35px;
  height: 35px;
}

.Profile,
.login-button-user {
  width: 470px;
  height: 60px;
  background-color: #121212;
  font-family: "Liberation Sans", sans-serif;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  margin-left: 15px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.Profile:hover,
.login-button-user:hover {
  background-color: #1a1a1a;
  transform: scale(1.05);
}

.Profile:active,
.login-button-user:active {
  background-color: #0d0d0d;
  transform: scale(0.95);
}

.logout-button {
  width: 150px;
  height: 40px;
  background-color: #121212;
  font-family: "Liberation Sans", sans-serif;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid black;
  margin-left: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.logout-button:hover {
  background-color: #1a1a1a;
  transform: scale(1.02);
}

.logout-button:active {
  background-color: #0d0d0d;
  transform: scale(0.98);
}

.close-window {
  filter: brightness(0) invert(0);
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 5px;
}
