.profile-page {
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 1440px;
}

.profile-main-text {
    text-align: center;
    margin: 0;
    font-family: "Khmer", sans-serif;
    font-size: 40px;
    margin-top: 20px;
}

.profile-page-container {
    display: flex;
    border-top: 1px solid #585858 ;
    width: 1285px;
    margin-left: 26px;
    margin-top: 32px;
}

.profile-page-aside {
    width: 250px;
    height: 600px;
    margin-top: 20px;
    border-right: 1px solid #585858;
}

.profile-page-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    color: #585858;
}

.profile-page-menu img {
    width: 25px;
    height: 25px; 
}

.profile-page-menu li {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: "Khmer", sans-serif;
    margin: 0;
    font-size: 25px;
    gap: 10px;
}