.product-card-wrapper {
    width: 300px;
    height: auto;
    background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
}

.product-card-img {
    width: 280px;
    height: 200px;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
}

.product-img {
    max-width: 280px;
    max-height: 200px;
}

.product-name {
    font-family: "M PLUS 2", sans-serif;
    color: #9B181A;
    max-width: 280px;
    font-size: 16px;
    margin: 0;
    margin-left: 10px;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-wrap: break-word; 
    line-height: 1.2em; 
    height: 2.4em;
}



.product-characteristics {
    font-family: "M PLUS 2", sans-serif;
    color: black;
    margin: 0;  
    max-width: 280px;
    font-size: 16px;
    padding-left: 10px;
    margin-top: 10px;
    cursor:default;
}

.product-price {
    font-family: "Kiwi Maru", serif;
    margin: 0;
    font-size: 25px;
    margin-top: 30px;
    max-width: 280px;
    word-wrap: break-word;
    overflow: hidden;
    color: black;
    text-align: right;
    cursor:default;
}

.to-basket {
    border: none;
    overflow: hidden;
    width: 100%;
    height: 35px;
    line-height: 35px;
    background-color: #BABA95;
    font-family: "Noto Sans Lao", sans-serif;
    margin: 0;
    font-size: 25px;
    padding-bottom: 5px;
    text-align: center;
    align-items: center;
    transition: background-color 0.2s ease;
    cursor: pointer;
}


.to-basket:hover {
    background-color: #A3A371;
}