.header-wrapper {
  display: flex;
  margin: 0 auto;
  width: 100%;
  height: 90px;
  z-index: 9999;
  background-color: #375c4d;
}

.header {
  width: 1440px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  place-items: center;
}

.logo-img {
  margin: 0;
  width: 252px;
  height: 65px;
  margin-right: auto;
  margin-left: 10px;
  cursor: pointer;
}

.header-home {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.header-icon-item-home-wrapper {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-icon-item-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  transition: transform 0.2s ease;
}

.header-icon-item-home:hover {
  transform: scale(1.1);
}

.search-box {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  text-align: left;
  border: 2px solid #ccc;
  background-color: white;
  border-radius: 5px;
  padding-left: 5px;
  width: 100%;
  height: 58px;
  margin-left: 20px;
  overflow: hidden;
}

.search-box input {
  all: unset;
  flex: 1;
  font-family: "Khmer", sans-serif;
  font-size: 20px;
  margin: 0;
  height: 100%;
  border: none;
  outline: none;
}

.search-box button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.header-icons {
  display: flex;
  cursor: pointer;
}

.header-icon-text {
  font-family: Liberation Sans;
  color: white;
  font-size: 15px;
  margin: 0;
  margin-top: 5px;
}

.header-icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;
  transition: transform 0.2s ease;
}

.header-icon-item:hover {
  transform: scale(1.1);
}

.header-img-like {
  width: 30px;
  height: 30px;
  transition: transform 0.2s ease;
}

.header-img-like:hover {
  transform: scale(1.1);
}

.header-img-basket {
  width: 30px;
  height: 30px;
  transition: transform 0.2s ease;
}

.header-img-basket:hover {
  transform: scale(1.1);
}

.header-img-profile {
  width: 30px;
  height: 30px;
  transition: transform 0.2s ease;
}

.header-img-profile:hover {
  transform: scale(1.1);
}
