.product-characteristics-container {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  width: 1440px;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #fff;
}

.product-title {
  font-size: 24px;
  font-weight: bold;
  font-family: Liberation sans;
  margin-bottom: 20px;
  margin: 0;
}

.product-main {
  display: flex;
  align-items: center;
  gap: 20px;
}

.product-details {
  flex: 1;
}

.characteristics-list {
  list-style: none;
  font-family: Liberation sans;
  font-size: 22px;
  padding: 0;
  row-gap: 5px;
  margin-top: 20px;
}

.characteristics-list li {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.characteristics-list li strong {
  color: #333;
}
