.user-information {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
    width: 1015px;
    height: 468px;
    margin-top: 15px;
    margin-left: 19px;
    border: 1px solid #585858;
}

.user-information > :first-child { 
    margin-left: 20px;
}

.user-main-text {
    margin: 0;
    font-family: "Khmer", sans-serif;
    font-size: 25px;
    margin-top: 19px;
    margin-left: 19px;
}

.user-information-text {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    max-width: 200px;
    border-radius: 5px;
    font-family: "Khmer", sans-serif;
    font-size: 18px;
    height: 48px;
    border: 1px solid black;
}

p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    margin-left: 10px;
    width: 100%;
}

label{
    margin: 0;
    font-family: "Khmer", sans-serif;
    font-size: 18px;
    margin-top: 16px;
    max-height: 90px;
}

.label-p-text {
    margin: 0;
    margin-bottom: 5px;
}