/* .products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 30px auto;
  max-width: 1440px;
  padding: 0 20px;
  box-sizing: border-box;
}

@media (max-width: 1345px) {
  .products-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1020px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 670px) {
  .products-container {
    grid-template-columns: 1fr;
  }
} */
